.menu {
  width: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  &__title {
    margin-top: 110px;
    font-family: "BannyBoldRound";
    font-size: 36px;
    line-height: 48px;

    text-align: center;
    text-transform: uppercase;
    @include adapt(550px) {
      margin: 0;
    }
  }
  &__underline {
    width: 61.06px;
    height: 5px;
    margin: 5px 0;
    background: #e8c300;
    border-radius: 50px;
  }
  &__description {
    max-width: 565px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;

    text-align: center;

    color: #000000;
  }
}
.tabs {
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.tabs__item {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
  text-align: center;

  color: #333333;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  &:nth-last-child(1) {
    border: none;
    @include adapt(550px) {
      margin-left: 3px;
    }
  }
  &.active {
    color: #e8c300;
  }
}
.tabs__body {
  display: flex;
  width: 100%;
  padding-top: 40px;
}
.tabs__block {
  display: none;
  &.active {
    display: flex;
    @include adapt(550px) {
      flex-direction: column;
    }
  }
}
.tabs__block__menu {
  width: 33.3333%;
  padding: 0 30px;
  @include adapt(550px) {
    width: 100%;
    padding: 0 !important;
  }
}
.tabs__block__menu__item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: "BannyRound";
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 30px;

  color: #000000;
  @include adapt(550px) {
    font-size: 17px;
  }
}
.tabs__block__menu__item__description {
  display: block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  @include adapt(550px) {
    font-size: 13px;
  }
}
