.specialties {
  width: 100%;
  padding: 100px 0;
  background-image: url(../assets/specialtys-bg1.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0 auto;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.5em;
    text-transform: uppercase;

    color: #ffffff;
  }
  .conteiner {
    min-width: 0;
  }
}
.slider__item {
  display: flex;
  outline: none;
  @include adapt(500px) {
    flex-direction: column;
    margin-top: 20px;
  }
  @media (min-width: 501px) and (max-width: 1024px) {
    flex-direction: column;
    margin-top: 20px;
  }
  &__block {
    width: 50%;
    @include adapt(500px) {
      width: 100%;
      padding: 0 !important;
    }
    @media (min-width: 501px) and (max-width: 1024px) {
      width: 100%;
      padding: 0 !important;
      flex-direction: column;
      position: relative;
    }
    &:nth-child(1) {
      padding-right: 40px;
      display: flex;
    }
    &:nth-child(2) {
      padding-left: 40px;
    }
    &__title {
      margin-top: 110px;
      font-family: "BannyBoldRound";
      font-size: 36px;
      line-height: 48px;
      /* or 133% */

      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
      @include adapt(500px) {
        margin: 0;
      }
      @media (min-width: 501px) and (max-width: 1024px) {
        margin: 0;
      }
    }
    &__underline {
      width: 59.19px;
      height: 5px;
      margin: 0 auto;
      background: #e8c300;
      border-radius: 50px;
      margin-bottom: 10px;
    }
    &__description {
      &__bold {
        display: block;
        margin-bottom: 30px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;

        text-align: center;

        color: #ffffff;
        @include adapt(500px) {
          font-size: 15px;
        }
      }
      &__light {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;

        text-align: center;

        color: #ffffff;
        @include adapt(500px) {
          font-size: 13px;
        }
      }
    }
    &__img {
      object-fit: cover;
      object-position: center;
      transition: ease-in 0.5s;

      cursor: pointer;
      @include adapt(500px) {
        width: 100%;
      }
      @media (min-width: 501px) and (max-width: 1024px) {
        width: 100%;
      }
      &:hover {
        transition: ease-in 0.5s;
        z-index: 1;
        transform: scale(1.1);
      }
      &:hover + .slider__item__block__pad {
        opacity: 0.5;
        transition: ease-in 0.5s;
        transform: rotate(-45deg);
      }
    }
    &__pad {
      position: relative;
      left: -300px;
      transition: ease-in 0.5s;
      @include adapt(500px) {
        width: 250px;
        height: 250px;
        left: -390px;
        top: 35px;
      }
      @media (min-width: 501px) and (max-width: 1024px) {
        width: 450px;
        height: 450px;
        position: absolute;
        left: 360px;
        top: 134px;
      }
    }
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  width: 100%;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li {
  list-style: none;
  margin-right: 10px;
}

.slick-dots li.slick-active button {
  background-color: #ffffff;
}

.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: none;
  outline: none;
}
